<footer class="footer">
	  <small>
	    Sample App by Nik Bailo
	  </small>
	  <nav>
	    <ul>
        <li><%= link_to "Championship", root_path %></li>
        <li><%= link_to "Participants", participants_path %></li>
        <li><%= link_to "Blog", blog_path %></li>
        <li><%= link_to "Contacts", contact_path %></li>
	    </ul>
	  </nav>
</footer>